body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
}

h1, h2 {
    color: #333;
}

.produto {
    margin-bottom: 20px;
}

button {
    padding: 10px;
    background-color: #088F8F;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s;
}

button:hover {
    background-color: #055f5f;
    transform: scale(1.1);
}